.card1{
  position: absolute;
}
.card2{
margin-left:0 px;
margin-top: 459px;
position: absolute;
}
.card3{
    margin-top:-8px;
margin-left: 700px; 
position: absolute;
}
.card4{
margin-top:599px;
margin-left: 700px;
position: absolute;
}
.card5{
    margin-top:1070px

}
.card6{
    margin-top: 100px;
margin-left: 00px;
}
.card7{
margin-top:1180px;
margin-left: 300px;
}
.card8{
margin-top: -520px;
margin-left: 700px;
}



  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }