.card1{
    position: absolute;
margin-top: -10px;  
}
  .card2{
  margin-left:px;
  margin-top: 610px;
  position: absolute;
  }
  .card3{
      margin-top:-8px;
  margin-left: 700px; 
  position: absolute;
  }
  .card4{
  margin-top:600px;
  margin-left: 700px;
  position: absolute;
  }
  .card5{
      margin-top:1150px;
      margin-left: 1px;
  }
  .card6{
      margin-top: -659px;
  margin-left: 689px;
  }
  .card7{
  margin-top:100px;
  margin-left: 300px;
  }
  .card8{
  margin-top: -699px;
  margin-left: 999px;
  }