.card1{
  position: absolute;
}
.card2{
margin-left:0 px;
margin-top: 539px;
position: absolute;
}
.card3{
    margin-top:-8px;
margin-left: 700px; 
position: absolute;
}
.card4{
margin-top:620px;
margin-left: 700px;
position: absolute;
}
.card5{
    margin-top:1200px

}
.card6{
    margin-top: 100px;
margin-left: 00px;
}
.card7{
margin-top:1330px;
margin-left: 300px;
}
.card8{
margin-top: -510px;
margin-left: 700px;
}