.card1{
  position: absolute;
}
.card2{
margin-left:0 px;
margin-top: 539px;
position: absolute;
}
.card3{
    margin-top:-8px;
margin-left: 700px; 
position: absolute;
}
.card4{
margin-top:610px;
margin-left: 700px;
position: absolute;
}
.card5{
    margin-top:1200px;
    margin-left: 299px;
}
.card6{
    margin-top: -528px;
margin-left: 980px;
}
.card7{
margin-top:-20px;
margin-left: 300px;
}
.card8{
margin-top: -589px;
margin-left: 999px;
}